* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1240px;
}

p {
  line-height: 32.3px;
}
.header {
  background-color: #42460d;
}
nav {
  display: flex;
  width: 100%;

  margin: 0 auto;
}
.logo_large {
  padding: 10px;
}

.logo_large img {
  max-width: 100%;
}
ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
ul li {
  display: flex;
  list-style: none;
  padding: 20px 20px 20px 20px;
  display: inline-block;
}
ul a {
  font-size: 16px;
  font-weight: 400px;
  color: white;
}
ul a:hover {
  background-color: #33360b;
  cursor: pointer;
}
.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  display: none;
}
.logo {
  display: flex;
  justify-content: flex-start;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.active {
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  nav {
    display: block;
  }
  .toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-decoration: none !important;
    text-align: center;
    padding: 20px;
  }
  a {
    text-decoration: none !important;
  }
  .active {
    display: block;
    border-bottom: none;
  }
  .logo_large {
    display: none;
  }
}
@media screen and (max-width: 280px) {
  .logo img {
    width: 170px;
  }
}
@media screen and (max-width: 320px) {
  .logo img {
    width: 130px;
  }
}
